openapi: 3.0.3
info:
  title: DeFarm Engines API
  version: 1.0.0
  description: |
    DeFarm Engines API provides a comprehensive agricultural supply chain tracking system
    with tokenization, circuit management, and secure item verification.

    ## Key Features
    - **JWT Authentication** - Secure token-based authentication
    - **Circuit Management** - Permission-controlled data sharing repositories
    - **Item Tokenization** - Local ID (LID) to DFID conversion via circuits
    - **Enhanced Identifiers** - Canonical and contextual identifier support
    - **Storage Adapters** - IPFS, Stellar blockchain, and custom storage backends
    - **Webhook System** - Post-action webhooks for circuit events
    - **Audit Trail** - Complete event history and activity tracking

    ## Authentication
    All authenticated endpoints require a JWT token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```

    Or API key authentication:
    ```
    X-API-Key: dfm_<your-api-key>
    ```
  contact:
    name: DeFarm API Support
    email: api@defarm.net
  license:
    name: Proprietary

servers:
  - url: https://connect.defarm.net/api
    description: Production server
  - url: http://localhost:3000/api
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and JWT token management
  - name: Circuits
    description: Circuit management and operations (push/pull items)
  - name: Items
    description: Item creation, tokenization, and management
  - name: Workspaces
    description: Workspace management and tier configuration
  - name: API Keys
    description: API key creation and management
  - name: Events
    description: Event tracking and history
  - name: Activities
    description: Activity logs and audit trail
  - name: Storage History
    description: Item storage location and history tracking
  - name: Timeline
    description: IPCM CID timeline tracking from blockchain events
  - name: Adapters
    description: Storage adapter configuration
  - name: Receipts
    description: Receipt management for data reception
  - name: Notifications
    description: Real-time notifications and webhooks
  - name: User Credits
    description: Credit management and tier limits
  - name: Audit
    description: Audit logs and compliance
  - name: Admin
    description: Administrative operations
  - name: ZK Proofs
    description: Zero-knowledge proof generation and verification
  - name: Test Blockchain
    description: Blockchain testing utilities (development only)

security:
  - BearerAuth: []
  - ApiKeyAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key in format dfm_<32-character-string>

  schemas:
    # ============================================================================
    # Authentication Schemas
    # ============================================================================

    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: "user@example.com"
        password:
          type: string
          format: password
          example: "SecurePass123!"
        workspace_id:
          type: string
          format: uuid
          description: Optional workspace context for login

    RegisterRequest:
      type: object
      required:
        - username
        - password
        - email
      properties:
        username:
          type: string
          example: "johndoe"
        password:
          type: string
          format: password
          description: |
            Password requirements:
            - Minimum 8 characters
            - At least one uppercase letter
            - At least one lowercase letter
            - At least one digit
            - At least one special character
          example: "SecurePass123!"
        email:
          type: string
          format: email
          example: "john@example.com"
        workspace_name:
          type: string
          example: "My Farm"

    AuthResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT token for authentication
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        user_id:
          type: string
          format: uuid
          example: "user-123e4567-e89b-12d3-a456-426614174000"
        workspace_id:
          type: string
          format: uuid
          example: "ws-123e4567-e89b-12d3-a456-426614174000"
        expires_at:
          type: integer
          format: int64
          description: Unix timestamp of token expiration
          example: 1735689600

    # ============================================================================
    # Circuit Schemas
    # ============================================================================

    CreateCircuitRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          example: "Organic Coffee Supply Chain"
          maxLength: 255
        description:
          type: string
          example: "Track organic coffee from farm to cup"
        adapter_config:
          $ref: '#/components/schemas/AdapterConfig'
        alias_config:
          $ref: '#/components/schemas/CircuitAliasConfig'
        allow_public_visibility:
          type: boolean
          default: false
          description: Enable public visibility for the circuit at creation time
        public_settings:
          $ref: '#/components/schemas/PublicSettings'

    AdapterConfig:
      type: object
      required:
        - adapter_type
        - requires_approval
        - auto_migrate_existing
      properties:
        adapter_type:
          type: string
          description: |
            Storage adapter type. Available adapters depend on user tier:
            - "none" - No blockchain storage (all tiers)
            - "StellarTestnetIpfs" - Stellar testnet + IPFS (Professional+)
            - "StellarMainnetIpfs" - Stellar mainnet + IPFS (Enterprise only)

            Note: API accepts both hyphenated format (stellar_testnet-ipfs) and
            CamelCase format (StellarTestnetIpfs).
          enum:
            - none
            - StellarTestnetIpfs
            - StellarMainnetIpfs
          example: "StellarTestnetIpfs"
        requires_approval:
          type: boolean
          description: Whether push operations require approval. **REQUIRED field.**
          example: false
        auto_migrate_existing:
          type: boolean
          description: Auto-migrate existing items when adapter changes. **REQUIRED field.**
          example: false
        sponsor_adapter_access:
          type: boolean
          default: false
          description: Circuit sponsors adapter access for all members (overrides tier limits)
        configured_by:
          type: string
          description: User ID who configured the adapter
          readOnly: true
          example: "hen-admin-001"
        configured_at:
          type: string
          format: date-time
          description: When the adapter was configured
          readOnly: true

    AdapterType:
      type: string
      enum:
        - none
        - StellarTestnetIpfs
        - StellarMainnetIpfs
      description: |
        Storage adapter types. Available adapters depend on user tier:
        - none: No blockchain storage (all tiers)
        - StellarTestnetIpfs: Stellar testnet + IPFS (Professional+)
        - StellarMainnetIpfs: Stellar mainnet + IPFS (Enterprise only)

    CircuitAliasConfig:
      type: object
      properties:
        required_canonical:
          type: array
          items:
            type: string
          description: Required canonical identifiers (e.g., ["sisbov", "cpf"])
          example: ["sisbov", "cpf"]
        required_contextual:
          type: array
          items:
            type: string
          description: Required contextual identifiers (e.g., ["lote", "safra"])
          example: ["lote", "safra"]
        allowed_namespaces:
          type: array
          items:
            type: string
          description: Allowed namespaces for identifiers
          example: ["bovino", "cafe", "soja"]
        default_namespace:
          type: string
          description: Default namespace if none specified
          example: "bovino"
        auto_apply_namespace:
          type: boolean
          default: true
          description: Auto-apply default namespace if missing
        use_fingerprint:
          type: boolean
          default: true
          description: Use fingerprint for deduplication

    Circuit:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "circuit-123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          example: "Organic Coffee Supply Chain"
        description:
          type: string
          example: "Track organic coffee from farm to cup"
        owner_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [Active, Inactive]
        members:
          type: array
          items:
            $ref: '#/components/schemas/CircuitMember'
        permissions:
          $ref: '#/components/schemas/CircuitPermissions'
        adapter_config:
          $ref: '#/components/schemas/AdapterConfig'
        alias_config:
          $ref: '#/components/schemas/CircuitAliasConfig'
        public_settings:
          $ref: '#/components/schemas/PublicSettings'

    CircuitMember:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [Owner, Admin, Member, Viewer]
        joined_at:
          type: string
          format: date-time

    CircuitPermissions:
      type: object
      properties:
        allow_public_visibility:
          type: boolean
          default: false
          description: Whether circuit data is publicly visible
        require_approval_for_push:
          type: boolean
          default: false
          description: Whether push operations require admin approval
        require_approval_for_pull:
          type: boolean
          default: false
          description: Whether pull operations require admin approval
        allow_member_invite:
          type: boolean
          default: true
          description: Whether members can invite others to the circuit

    PublicSettings:
      type: object
      properties:
        access_mode:
          type: string
          enum: [public, protected, scheduled, open]
          default: public
        scheduled_date:
          type: string
          format: date-time
          description: Only for scheduled mode
        access_password:
          type: string
          description: Only for protected mode
        public_name:
          type: string
        public_description:
          type: string
        primary_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#00AA00"
        secondary_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#0066CC"
        published_items:
          type: array
          items:
            type: string
        auto_approve_members:
          type: boolean
          default: false
        auto_publish_pushed_items:
          type: boolean
          default: false
        show_encrypted_events:
          type: boolean
          default: false
        export_permissions:
          type: string
          enum: [admin, members, public]
          default: members

    # ============================================================================
    # Item Schemas
    # ============================================================================

    CreateLocalItemRequest:
      type: object
      properties:
        identifiers:
          type: array
          description: List of identifiers with namespace and type metadata
          items:
            $ref: '#/components/schemas/Identifier'
        enriched_data:
          type: object
          additionalProperties: true
          description: Additional metadata for the item
          example:
            weight: "500kg"
            harvest_date: "2024-01-15"
            quality_grade: "A"

    Identifier:
      type: object
      required:
        - key
        - value
      properties:
        namespace:
          type: string
          description: Logical namespace (bovino, cafe, soja, etc.)
          example: "bovino"
        key:
          type: string
          example: "sisbov"
        value:
          type: string
          example: "BR12345678901234"
        id_type:
          type: string
          enum: [Canonical, Contextual]
          description: |
            - Canonical: Globally unique (SISBOV, CPF, etc.)
            - Contextual: Scoped identifier (requires scope)
          default: Contextual
        scope:
          type: string
          nullable: true
          description: Scope for contextual identifiers (user, organization, circuit)
          example: "user"
        verified:
          type: boolean
          nullable: true
          description: Verification flag for canonical identifiers
        verification_date:
          type: string
          format: date-time
          nullable: true
          description: When the canonical identifier was verified

    Item:
      type: object
      properties:
        dfid:
          type: string
          description: DeFarm ID in format DFID-YYYYMMDD-NNNNNN-XXXX or LID-{uuid} for local items
          example: "DFID-20240115-000001-A1B2"
        local_id:
          type: string
          format: uuid
          description: Local ID (LID) before tokenization
        legacy_mode:
          type: boolean
          description: True if DFID was generated in workspace (backward compatibility)
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/ExternalAlias'
        fingerprint:
          type: string
          description: BLAKE3 hash for contextual deduplication
        enriched_data:
          type: object
          additionalProperties: true
        creation_timestamp:
          type: string
          format: date-time
        last_modified:
          type: string
          format: date-time
        source_entries:
          type: array
          items:
            type: string
            format: uuid
        confidence_score:
          type: number
          format: double
          minimum: 0
          maximum: 1
        status:
          type: string
          enum: [Active, Deprecated, Merged, Split]

    ExternalAlias:
      type: object
      properties:
        scheme:
          type: string
          example: "certifier:organic-brazil"
        value:
          type: string
          example: "CERT-2024-001"
        issuer:
          type: string
          example: "IBD Certificações"
        timestamp:
          type: string
          format: date-time
        evidence_hash:
          type: string
          description: BLAKE3 hash of supporting evidence

    PushLocalItemRequest:
      type: object
      required:
        - local_id
      properties:
        local_id:
          type: string
          format: uuid
          description: Local ID of item to push to circuit
          example: "123e4567-e89b-12d3-a456-426614174000"

    # ============================================================================
    # Workspace Schemas
    # ============================================================================

    CreateWorkspaceRequest:
      type: object
      required:
        - name
        - owner_id
      properties:
        name:
          type: string
          example: "Green Valley Farm"
          maxLength: 255
        owner_id:
          type: string
          format: uuid
        description:
          type: string
          example: "Organic farming cooperative"

    Workspace:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        owner_id:
          type: string
          format: uuid
        description:
          type: string
        created_at:
          type: string
          format: date-time
        tier:
          $ref: '#/components/schemas/UserTier'
        members:
          type: array
          items:
            type: string
            format: uuid

    UserTier:
      type: string
      enum:
        - Free
        - Starter
        - Professional
        - Enterprise
      description: |
        User tier levels:
        - Free: Basic features, limited API calls
        - Starter: Increased limits, basic adapters
        - Professional: Advanced features, all adapters
        - Enterprise: Custom limits, dedicated support

    # ============================================================================
    # API Key Schemas
    # ============================================================================

    CreateApiKeyRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: "Production API Key"
          maxLength: 255
        organization_type:
          type: string
          enum: [Admin, Producer, Association, Enterprise, Government, External]
          description: Organization context for the API key
          example: Admin
        organization_id:
          type: string
          format: uuid
          nullable: true
          description: Optional organization/workspace identifier the key belongs to
        permissions:
          $ref: '#/components/schemas/ApiKeyPermissions'
        allowed_endpoints:
          type: array
          items:
            type: string
          description: Restrict key usage to specific endpoint prefixes
          example: ["/api/items/*", "/api/circuits/*"]
        rate_limit_per_hour:
          type: integer
          format: int32
          minimum: 1
          description: Optional custom rate limit (requests per hour)
          example: 1000
        expires_in_days:
          type: integer
          format: int32
          minimum: 1
          nullable: true
          description: Optional expiration in days from creation
          example: 30
        notes:
          type: string
          nullable: true
          description: Administrative notes for this key
        allowed_ips:
          type: array
          items:
            type: string
            description: IP address or CIDR range
            example: "192.168.1.0/24"
          description: Restrict key usage to specific IPs or networks

    ApiKeyMetadata:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        key_prefix:
          type: string
          description: First 8 characters of the API key
          example: "dfm_a1b2"
        permissions:
          $ref: '#/components/schemas/ApiKeyPermissions'
        organization_type:
          type: string
          enum: [Admin, Producer, Association, Enterprise, Government, External]
        is_active:
          type: boolean
        last_used_at:
          type: string
          format: date-time
          nullable: true
        usage_count:
          type: integer
          format: int64
        rate_limit_per_hour:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true

    ApiKeyListItem:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/ApiKeyMetadata'

    ApiKeyPermissions:
      type: object
      description: Granular permissions assigned to an API key
      properties:
        read:
          type: boolean
          description: Allow read-only operations (default true)
          default: true
        write:
          type: boolean
          description: Allow mutating operations (create/update/delete)
          default: false
        admin:
          type: boolean
          description: Allow administrative endpoints (billing, tier management)
          default: false
        custom:
          type: object
          description: Optional feature flags for future extensions
          additionalProperties:
            type: boolean

    OrganizationType:
      type: string
      enum: [Admin, Producer, Association, Enterprise, Government, External]
      description: Category of organization that owns the API key

    # ============================================================================
    # Event & Activity Schemas
    # ============================================================================

    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        event_type:
          type: string
          enum:
            - ItemCreated
            - ItemEnriched
            - ItemMerged
            - ItemSplit
            - CircuitPush
            - CircuitPull
        dfid:
          type: string
        timestamp:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
        visibility:
          type: string
          enum: [Public, Private, CircuitOnly]
        is_encrypted:
          type: boolean

    LocalEventResponse:
      type: object
      properties:
        event_id:
          type: string
          format: uuid
        local_event_id:
          type: string
          format: uuid
          description: The local event ID for tracking before push
        event_type:
          type: string
          enum: [Created, Enriched, Transferred, Merged, Split, Circuit, Published, Verified, Custom]
        timestamp:
          type: integer
          format: int64
          description: Unix epoch timestamp
        source:
          type: string
          description: User ID who created the event
        metadata:
          type: object
          additionalProperties: true
        visibility:
          type: string
          enum: [Public, Private, CircuitOnly]
        is_local:
          type: boolean
          description: True if event has not been pushed to a circuit

    PushEventsResponse:
      type: object
      properties:
        success:
          type: boolean
        circuit_id:
          type: string
          format: uuid
        events_pushed:
          type: integer
          description: Number of events successfully pushed
        events_deduplicated:
          type: integer
          description: Number of events that were deduplicated
        events:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                format: uuid
              local_event_id:
                type: string
                format: uuid
              dfid:
                type: string
              was_deduplicated:
                type: boolean
              was_merged:
                type: boolean
              merged_keys:
                type: array
                items:
                  type: string
                description: Keys that were merged from new metadata

    Activity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        activity_type:
          type: string
        user_id:
          type: string
          format: uuid
        resource_type:
          type: string
          enum: [Circuit, Item, Workspace, ApiKey]
        resource_id:
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          type: object
          additionalProperties: true

    # ============================================================================
    # Storage & Adapter Schemas
    # ============================================================================

    StorageLocation:
      type: object
      properties:
        adapter_type:
          $ref: '#/components/schemas/AdapterType'
        location:
          type: string
          description: Storage location identifier
          example: "ipfs://QmXxx..."
        hash:
          type: string
          description: BLAKE3 hash of stored data
        cid:
          type: string
          description: IPFS Content Identifier
          example: "QmXxx..."
        stellar_tx_hash:
          type: string
          description: Stellar transaction hash (if applicable)
        nft_id:
          type: string
          description: NFT ID on Stellar (if applicable)
        stored_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    # ============================================================================
    # Error Schemas
    # ============================================================================

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: "AUTHENTICATION_FAILED"
        message:
          type: string
          description: Human-readable error message
          example: "Invalid credentials provided"
        details:
          type: object
          additionalProperties: true
          description: Additional error context
        suggestions:
          type: array
          items:
            type: string
          description: Actionable recovery suggestions
          example:
            - "Verify your username and password"
            - "Check if your account is active"

    SuccessResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"
        data:
          type: object
          additionalProperties: true

    # =========================================================================
    # Timeline Schemas
    # =========================================================================

    TimelineEntry:
      type: object
      required:
        - sequence
        - cid
        - transaction_hash
        - blockchain_timestamp
        - network
        - created_at
      properties:
        sequence:
          type: integer
          description: Auto-incrementing sequence number (1, 2, 3, ...)
          example: 1
        cid:
          type: string
          description: IPFS Content Identifier
          example: "QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG"
        transaction_hash:
          type: string
          description: Stellar transaction hash for IPCM update
          example: "abc123def456789"
        blockchain_timestamp:
          type: integer
          format: int64
          description: Ledger close timestamp (Unix timestamp)
          example: 1704067200
        network:
          type: string
          description: Blockchain network
          enum:
            - stellar-testnet
            - stellar-mainnet
          example: "stellar-testnet"
        created_at:
          type: string
          format: date-time
          description: When this timeline entry was recorded
          example: "2025-01-01T00:00:00Z"

    IndexingProgress:
      type: object
      required:
        - network
        - last_indexed_ledger
        - last_confirmed_ledger
        - last_indexed_at
        - status
        - total_events_indexed
      properties:
        network:
          type: string
          description: Blockchain network being indexed
          enum:
            - stellar-testnet
            - stellar-mainnet
          example: "stellar-testnet"
        last_indexed_ledger:
          type: integer
          format: int64
          description: Last ledger sequence processed
          example: 123456
        last_confirmed_ledger:
          type: integer
          format: int64
          description: Last confirmed ledger
          example: 123456
        last_indexed_at:
          type: string
          format: date-time
          description: When indexing last ran
          example: "2025-01-01T00:00:00Z"
        status:
          type: string
          description: Indexing status
          enum:
            - active
            - paused
            - error
          example: "active"
        total_events_indexed:
          type: integer
          format: int64
          description: Total IPCM events processed
          example: 1234
        error_message:
          type: string
          nullable: true
          description: Last error message (if any)
          example: null

    # ============================================================================
    # Receipt Schemas
    # ============================================================================

    CreateReceiptRequest:
      type: object
      required:
        - data
        - identifiers
      properties:
        data:
          type: string
          format: byte
          description: Base64 encoded data
          example: "SGVsbG8gV29ybGQh"
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          minItems: 1
          description: At least one identifier is required

    ReceiptResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Receipt ID
        hash:
          type: string
          description: BLAKE3 hash of the data
          example: "abc123..."
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp when receipt was created
        data_size:
          type: integer
          description: Size of original data in bytes
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'

    VerificationResponse:
      type: object
      properties:
        is_valid:
          type: boolean
          description: Whether the data matches the receipt hash
        receipt_id:
          type: string
          format: uuid
        original_hash:
          type: string
          description: Hash from original receipt
        provided_hash:
          type: string
          description: Hash of provided data for verification
        timestamp:
          type: integer
          format: int64

    # ============================================================================
    # Notification Schemas
    # ============================================================================

    NotificationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        title:
          type: string
        message:
          type: string
        notification_type:
          type: string
          enum:
            - CircuitInvite
            - ItemPushed
            - ItemApproved
            - OperationCompleted
            - SystemAlert
        priority:
          type: string
          enum: [low, medium, high, urgent]
        is_read:
          type: boolean
        created_at:
          type: string
          format: date-time
        read_at:
          type: string
          format: date-time
          nullable: true
        action_url:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true

    # ============================================================================
    # User Credits Schemas
    # ============================================================================

    CreditHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/CreditTransactionResponse'
        total_credits:
          type: integer
          format: int64

    CreditTransactionResponse:
      type: object
      properties:
        transaction_id:
          type: string
          format: uuid
        amount:
          type: integer
          format: int64
          description: Credit amount (positive for additions, negative for deductions)
        transaction_type:
          type: string
          enum: [Purchase, Refund, Deduction, Grant, Adjustment]
        description:
          type: string
        timestamp:
          type: string
          format: date-time
        balance_after:
          type: integer
          format: int64

    OperationCostsResponse:
      type: object
      properties:
        item_creation:
          type: integer
          format: int64
        circuit_operation:
          type: integer
          format: int64
        storage_migration:
          type: integer
          format: int64
        audit_export:
          type: integer
          format: int64
        premium_adapter_usage:
          type: integer
          format: int64
        api_request:
          type: integer
          format: int64
        tier:
          type: string

    UserProfileResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        tier:
          $ref: '#/components/schemas/UserTier'
        credits:
          type: integer
          format: int64
        status:
          type: string
          enum: [Active, Suspended, Inactive]
        is_admin:
          type: boolean
        created_at:
          type: string
          format: date-time
        subscription:
          $ref: '#/components/schemas/SubscriptionResponse'
          nullable: true
        limits:
          $ref: '#/components/schemas/TierLimitsResponse'

    SubscriptionResponse:
      type: object
      properties:
        plan_id:
          type: string
        status:
          type: string
          enum: [Active, Expired, Cancelled, PendingRenewal]
        started_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true
        auto_renew:
          type: boolean

    TierLimitsResponse:
      type: object
      properties:
        max_items_per_month:
          type: integer
          format: int64
          nullable: true
        max_circuits:
          type: integer
          format: int64
          nullable: true
        max_storage_locations:
          type: integer
          format: int64
          nullable: true
        max_api_requests_per_hour:
          type: integer
          format: int64
          nullable: true
        max_workspace_members:
          type: integer
          format: int64
          nullable: true
        can_use_premium_adapters:
          type: boolean
        max_audit_retention_days:
          type: integer
          format: int64
        priority_support:
          type: boolean

    # ============================================================================
    # ZK Proof Schemas
    # ============================================================================

    SubmitProofRequest:
      type: object
      required:
        - circuit_type
        - circuit_input
        - private_inputs
      properties:
        circuit_type:
          type: string
          enum:
            - OrganicCertification
            - PesticideThreshold
            - QualityGrade
            - OwnershipProof
            - TimestampFreshness
            - Custom
        circuit_input:
          type: object
          additionalProperties: true
        private_inputs:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true

    VerifyProofRequest:
      type: object
      required:
        - proof_id
      properties:
        proof_id:
          type: string
          format: uuid
        verification_key:
          type: string
          nullable: true

    ZkProofResponse:
      type: object
      properties:
        proof_id:
          type: string
          format: uuid
        user_id:
          type: string
        circuit_type:
          type: string
        status:
          type: string
          enum: [Pending, Verified, Failed, Expired]
        proof_data:
          type: string
          nullable: true
        verification_result:
          type: boolean
          nullable: true
        error_message:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ZkProofStatistics:
      type: object
      properties:
        total_proofs:
          type: integer
          format: int64
        pending_proofs:
          type: integer
          format: int64
        verified_proofs:
          type: integer
          format: int64
        failed_proofs:
          type: integer
          format: int64
        proof_types:
          type: object
          additionalProperties:
            type: integer
            format: int64

    # ============================================================================
    # Audit Schemas
    # ============================================================================

    LogEventRequest:
      type: object
      required:
        - user_id
        - event_type
        - action
        - resource
        - outcome
        - severity
      properties:
        user_id:
          type: string
        event_type:
          type: string
          enum: [security, data, access, compliance, system, user]
        action:
          type: string
        resource:
          type: string
        resource_id:
          type: string
          nullable: true
        outcome:
          type: string
          enum: [success, failure, warning, blocked]
        severity:
          type: string
          enum: [low, medium, high, critical]
        details:
          type: object
          additionalProperties: true
        metadata:
          $ref: '#/components/schemas/AuditEventMetadataRequest'
        compliance:
          $ref: '#/components/schemas/ComplianceInfoRequest'

    AuditEventMetadataRequest:
      type: object
      properties:
        user_agent:
          type: string
        ip_address:
          type: string
        location:
          type: string
        device_id:
          type: string
        session_duration:
          type: integer
          format: int64

    ComplianceInfoRequest:
      type: object
      properties:
        gdpr:
          type: boolean
        ccpa:
          type: boolean
        hipaa:
          type: boolean
        sox:
          type: boolean

    AuditEventResponse:
      type: object
      properties:
        event_id:
          type: string
          format: uuid
        user_id:
          type: string
        event_type:
          type: string
        action:
          type: string
        resource:
          type: string
        resource_id:
          type: string
          nullable: true
        outcome:
          type: string
        severity:
          type: string
        timestamp:
          type: integer
          format: int64
        details:
          type: object
          additionalProperties: true
        metadata:
          $ref: '#/components/schemas/AuditEventMetadataResponse'
        signature:
          type: string
          nullable: true
        compliance:
          $ref: '#/components/schemas/ComplianceInfoResponse'

    AuditEventMetadataResponse:
      type: object
      properties:
        user_agent:
          type: string
        ip_address:
          type: string
        location:
          type: string
        device_id:
          type: string
        session_duration:
          type: integer
          format: int64

    ComplianceInfoResponse:
      type: object
      properties:
        gdpr:
          type: boolean
        ccpa:
          type: boolean
        hipaa:
          type: boolean
        sox:
          type: boolean

    CreateSecurityIncidentRequest:
      type: object
      required:
        - title
        - description
        - severity
        - category
        - affected_users
        - affected_resources
        - related_event_ids
      properties:
        title:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [low, medium, high, critical]
        category:
          type: string
          enum:
            - unauthorized-access
            - data-breach
            - system-compromise
            - policy-violation
            - denial-of-service
        affected_users:
          type: array
          items:
            type: string
        affected_resources:
          type: array
          items:
            type: string
        related_event_ids:
          type: array
          items:
            type: string

    SecurityIncidentResponse:
      type: object
      properties:
        incident_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        severity:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [Open, Investigating, Resolved, Closed]
        affected_users:
          type: array
          items:
            type: string
        affected_resources:
          type: array
          items:
            type: string
        related_event_ids:
          type: array
          items:
            type: string
        confidential:
          type: boolean
        created_at:
          type: integer
          format: int64
        updated_at:
          type: integer
          format: int64
        assigned_to:
          type: string
          nullable: true

    CreateComplianceReportRequest:
      type: object
      required:
        - report_type
        - period_start
        - period_end
        - scope
      properties:
        report_type:
          type: string
          enum:
            - gdpr-data-subject
            - ccpa-consumer
            - sox-financial
            - audit-trail
            - security-incident
        period_start:
          type: integer
          format: int64
        period_end:
          type: integer
          format: int64
        scope:
          $ref: '#/components/schemas/ComplianceScopeRequest'
        export_format:
          type: string
          enum: [json, csv, pdf, xml]
          default: json
        include_evidence:
          type: boolean
          default: false

    ComplianceScopeRequest:
      type: object
      properties:
        user_id:
          type: string
        resource_types:
          type: array
          items:
            type: string
        event_types:
          type: array
          items:
            type: string
        regulations:
          type: array
          items:
            type: string

    ComplianceReportResponse:
      type: object
      properties:
        report_id:
          type: string
          format: uuid
        report_type:
          type: string
        start_date:
          type: integer
          format: int64
        end_date:
          type: integer
          format: int64
        scope:
          type: string
        format:
          type: string
        created_at:
          type: integer
          format: int64
        summary:
          type: string
        total_events:
          type: integer
        compliance_status:
          type: string

    # ============================================================================
    # Webhook Schemas (Circuit Post-Action Webhooks)
    # ============================================================================

    PostActionSettings:
      type: object
      properties:
        enabled:
          type: boolean
          default: false
          description: Enable/disable post-action webhook system for circuit
        trigger_events:
          type: array
          items:
            type: string
            enum:
              - ItemPushed
              - ItemApproved
              - ItemTokenized
              - ItemPublished
          description: Events that trigger webhooks
          example: ["ItemPushed", "ItemTokenized"]
        include_storage_details:
          type: boolean
          default: true
          description: Include storage adapter details in webhook payload
        include_item_metadata:
          type: boolean
          default: true
          description: Include full item metadata in webhook payload

    WebhookConfig:
      type: object
      required:
        - name
        - url
        - enabled
      properties:
        id:
          type: string
          format: uuid
          description: Webhook ID (auto-generated)
        name:
          type: string
          maxLength: 255
          example: "ERP Integration Webhook"
          description: Descriptive name for the webhook
        url:
          type: string
          format: uri
          pattern: '^https?://'
          example: "https://api.example.com/defarm/webhook"
          description: Target URL (HTTPS/HTTP only, no localhost/private IPs)
        enabled:
          type: boolean
          default: true
          description: Enable/disable this specific webhook
        auth_type:
          type: string
          enum:
            - None
            - BearerToken
            - ApiKey
            - BasicAuth
            - CustomHeader
          default: None
          description: Authentication method for webhook delivery
        auth_config:
          type: object
          description: Authentication configuration (encrypted at rest)
          oneOf:
            - type: object
              properties:
                token:
                  type: string
                  description: Bearer token (for BearerToken)
            - type: object
              properties:
                api_key:
                  type: string
                  description: API key (for ApiKey)
            - type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              description: Basic auth credentials (for BasicAuth)
            - type: object
              properties:
                header_name:
                  type: string
                header_value:
                  type: string
              description: Custom header (for CustomHeader)
        retry_config:
          $ref: '#/components/schemas/WebhookRetryConfig'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookRetryConfig:
      type: object
      properties:
        max_retries:
          type: integer
          default: 3
          minimum: 0
          maximum: 10
          description: Maximum number of retry attempts
        initial_delay_ms:
          type: integer
          default: 1000
          minimum: 100
          maximum: 60000
          description: Initial delay before first retry (milliseconds)
        max_delay_ms:
          type: integer
          default: 30000
          minimum: 1000
          maximum: 300000
          description: Maximum delay between retries (milliseconds)
        backoff_multiplier:
          type: number
          format: double
          default: 2.0
          minimum: 1.0
          maximum: 5.0
          description: Exponential backoff multiplier

    WebhookPayload:
      type: object
      required:
        - event_type
        - circuit_id
        - circuit_name
        - timestamp
        - item
      properties:
        event_type:
          type: string
          enum:
            - ItemPushed
            - ItemApproved
            - ItemTokenized
            - ItemPublished
          example: "ItemPushed"
        circuit_id:
          type: string
          format: uuid
        circuit_name:
          type: string
        timestamp:
          type: string
          format: date-time
        item:
          type: object
          required:
            - dfid
            - pushed_by
          properties:
            dfid:
              type: string
            local_id:
              type: string
              format: uuid
            identifiers:
              type: array
              items:
                $ref: '#/components/schemas/Identifier'
            pushed_by:
              type: string
              format: uuid
        storage:
          $ref: '#/components/schemas/StorageLocation'
          description: Storage details (if include_storage_details enabled)
        operation_id:
          type: string
          format: uuid
          description: Reference to circuit operation
        status:
          type: string
          enum:
            - new_item
            - enriched_existing
            - pending_approval
            - published

    WebhookDelivery:
      type: object
      required:
        - id
        - webhook_id
        - event_type
        - status
        - attempt_number
        - created_at
      properties:
        id:
          type: string
          format: uuid
        webhook_id:
          type: string
          format: uuid
        event_type:
          type: string
        payload:
          $ref: '#/components/schemas/WebhookPayload'
        status:
          type: string
          enum:
            - pending
            - success
            - failed
            - retrying
          description: Delivery status
        attempt_number:
          type: integer
          description: Current attempt number (1, 2, 3, ...)
        http_status_code:
          type: integer
          nullable: true
          description: HTTP status code from target server
        response_body:
          type: string
          nullable: true
          description: Response from target server (truncated)
        error_message:
          type: string
          nullable: true
          description: Error message if delivery failed
        created_at:
          type: string
          format: date-time
        delivered_at:
          type: string
          format: date-time
          nullable: true
        next_retry_at:
          type: string
          format: date-time
          nullable: true

paths:
  # ============================================================================
  # Authentication Endpoints
  # ============================================================================

  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate with username and password to receive a JWT token
      operationId: login
      security: []  # No authentication required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Create a new user account with workspace
      operationId: register
      security: []  # No authentication required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid request (password complexity, duplicate username, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate current JWT token
      operationId: logout
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ============================================================================
  # Circuit Endpoints
  # ============================================================================

  /circuits:
    get:
      tags:
        - Circuits
      summary: List circuits
      description: Get all circuits accessible to the authenticated user
      operationId: listCircuits
      parameters:
        - name: user_id
          in: query
          description: Filter by user ID
          schema:
            type: string
            format: uuid
        - name: include_public
          in: query
          description: Include public circuits
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Filter by circuit status
          schema:
            type: string
            enum: [Active, Inactive]
      responses:
        '200':
          description: List of circuits
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  circuits:
                    type: array
                    items:
                      $ref: '#/components/schemas/Circuit'

    post:
      tags:
        - Circuits
      summary: Create circuit
      description: Create a new circuit (automatically makes creator the owner)
      operationId: createCircuit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCircuitRequest'
      responses:
        '201':
          description: Circuit created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  circuit_id:
                    type: string
                    format: uuid
                  data:
                    $ref: '#/components/schemas/Circuit'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /circuits/{circuit_id}:
    get:
      tags:
        - Circuits
      summary: Get circuit details
      description: Retrieve detailed information about a specific circuit
      operationId: getCircuit
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Circuit details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Circuit'
        '404':
          description: Circuit not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Circuits
      summary: Update circuit
      description: Update circuit settings (owner/admin only)
      operationId: updateCircuit
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                permissions:
                  $ref: '#/components/schemas/CircuitPermissions'
      responses:
        '200':
          description: Circuit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /circuits/{circuit_id}/members:
    post:
      tags:
        - Circuits
      summary: Add member to circuit
      description: Add a new member with specified role (owner/admin only)
      operationId: addCircuitMember
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - member_id
                - role
              properties:
                member_id:
                  type: string
                  format: uuid
                role:
                  type: string
                  enum: [Admin, Member, Viewer]
      responses:
        '200':
          description: Member added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /circuits/{circuit_id}/push-local:
    post:
      tags:
        - Circuits
      summary: Push local item to circuit
      description: |
        Push a local item (with LID) to circuit for tokenization.
        Circuit will assign DFID based on deduplication logic.
      operationId: pushLocalItem
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushLocalItemRequest'
      responses:
        '200':
          description: Item pushed and tokenized
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      dfid:
                        type: string
                        description: Assigned DFID (new or existing)
                      local_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [new_item, enriched_existing, pending_approval]
                      storage:
                        $ref: '#/components/schemas/StorageLocation'
        '403':
          description: Permission denied or adapter access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /circuits/{circuit_id}/push-events:
    post:
      tags:
        - Circuits
      summary: Push events to circuit
      description: |
        Push local events to a circuit, associating them with a specific DFID.
        Events are deduplicated using content hash. If a duplicate is found,
        metadata is auto-merged (only new keys are added).
        Supports both JWT and API key authentication.
      operationId: pushEventsToCircuit
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - local_event_ids
                - dfid
              properties:
                local_event_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Array of local event IDs to push
                  example: ["550e8400-e29b-41d4-a716-446655440000"]
                dfid:
                  type: string
                  description: The DFID to associate events with
                  example: "DFID-20251128-000001-XXXX"
      responses:
        '200':
          description: Events pushed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushEventsResponse'
        '400':
          description: Invalid request (missing fields, invalid IDs)
        '403':
          description: Permission denied (no push access to circuit)
        '404':
          description: Circuit or local event not found

  /circuits/{circuit_id}/adapter:
    get:
      tags:
        - Circuits
      summary: Get circuit adapter configuration
      description: Retrieve the adapter configuration for a circuit
      operationId: getCircuitAdapter
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Adapter configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/AdapterConfig'

    put:
      tags:
        - Circuits
      summary: Update circuit adapter configuration
      description: |
        Update adapter settings for a circuit. Only circuit owner or admins can configure adapters.
        The requester must have access to the specified adapter type in their tier.
        Changes are persisted to PostgreSQL immediately.
      operationId: updateCircuitAdapter
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the circuit to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - adapter_type
                - sponsor_adapter_access
                - requires_approval
                - auto_migrate_existing
              properties:
                adapter_type:
                  type: string
                  enum: [none, ipfs-ipfs, stellar_testnet-ipfs, stellar_mainnet-ipfs]
                  example: "stellar_mainnet-ipfs"
                sponsor_adapter_access:
                  type: boolean
                  example: true
                  description: If true, circuit pays for adapter access for all members
                requires_approval:
                  type: boolean
                  example: false
                  description: Whether migrations require approval
                auto_migrate_existing:
                  type: boolean
                  example: false
                  description: Auto-migrate items on adapter change
            examples:
              stellar_mainnet:
                summary: Configure Stellar Mainnet adapter
                value:
                  adapter_type: "stellar_mainnet-ipfs"
                  sponsor_adapter_access: false
                  requires_approval: false
                  auto_migrate_existing: false
              ipfs_sponsored:
                summary: IPFS with sponsored access
                value:
                  adapter_type: "ipfs-ipfs"
                  sponsor_adapter_access: true
                  requires_approval: false
                  auto_migrate_existing: false
      responses:
        '200':
          description: Adapter configuration updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  adapter_type:
                    type: string
                    example: "stellar_mainnet-ipfs"
                  sponsor_adapter_access:
                    type: boolean
                    example: false
                  requires_approval:
                    type: boolean
                    example: false
                  auto_migrate_existing:
                    type: boolean
                    example: false
                  configured_by:
                    type: string
                    example: "hen-admin-001"
                  configured_at:
                    type: string
                    format: date-time
                    example: "2025-10-21T23:33:49.631504998+00:00"
        '403':
          description: Permission denied - user doesn't have adapter access or isn't circuit owner/admin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /circuits/{circuit_id}/public-settings:
    get:
      tags:
        - Circuits
      summary: Get circuit public settings
      description: Retrieve public page configuration
      operationId: getPublicSettings
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Public settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicSettings'

    put:
      tags:
        - Circuits
      summary: Update circuit public settings
      description: Configure public page settings (owner/admin only)
      operationId: updatePublicSettings
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSettings'
      responses:
        '200':
          description: Public settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /circuits/{circuit_id}/public:
    get:
      tags:
        - Circuits
      summary: Get public circuit page
      description: Retrieve publicly accessible circuit information
      operationId: getPublicCircuit
      security: []  # No authentication required
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Public circuit data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      circuit_id:
                        type: string
                      public_name:
                        type: string
                      public_description:
                        type: string
                      primary_color:
                        type: string
                      secondary_color:
                        type: string
                      member_count:
                        type: integer
                      published_items:
                        type: array
                        items:
                          type: object

  # ============================================================================
  # Webhook Endpoints (Circuit Post-Action Webhooks)
  # ============================================================================

  /circuits/{circuit_id}/post-actions:
    get:
      tags:
        - Circuits
        - Notifications
      summary: Get post-action webhook settings
      description: Retrieve webhook configuration for a circuit (owner/admin only)
      operationId: getPostActionSettings
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post-action settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PostActionSettings'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Circuits
        - Notifications
      summary: Update post-action webhook settings
      description: Configure webhook system for circuit (owner/admin only)
      operationId: updatePostActionSettings
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostActionSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /circuits/{circuit_id}/post-actions/webhooks:
    post:
      tags:
        - Circuits
        - Notifications
      summary: Create webhook
      description: Create a new webhook for circuit post-actions (owner/admin only)
      operationId: createWebhook
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookConfig'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  webhook_id:
                    type: string
                    format: uuid
                  data:
                    $ref: '#/components/schemas/WebhookConfig'
        '400':
          description: Invalid webhook configuration (SSRF protection, invalid URL)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /circuits/{circuit_id}/post-actions/webhooks/{webhook_id}:
    get:
      tags:
        - Circuits
        - Notifications
      summary: Get webhook details
      description: Retrieve webhook configuration (owner/admin only)
      operationId: getWebhook
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/WebhookConfig'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Circuits
        - Notifications
      summary: Update webhook
      description: Update webhook configuration (owner/admin only)
      operationId: updateWebhook
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookConfig'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Circuits
        - Notifications
      summary: Delete webhook
      description: Remove webhook from circuit (owner/admin only)
      operationId: deleteWebhook
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /circuits/{circuit_id}/post-actions/webhooks/{webhook_id}/test:
    post:
      tags:
        - Circuits
        - Notifications
      summary: Test webhook
      description: Send test payload to webhook to verify configuration (owner/admin only)
      operationId: testWebhook
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Test delivery attempted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                    enum: [delivered, failed]
                  http_status_code:
                    type: integer
                    nullable: true
                  response_body:
                    type: string
                    nullable: true
                  error_message:
                    type: string
                    nullable: true

  /circuits/{circuit_id}/post-actions/deliveries:
    get:
      tags:
        - Circuits
        - Notifications
      summary: View webhook delivery history
      description: Get webhook delivery logs and status (owner/admin only)
      operationId: getWebhookDeliveries
      parameters:
        - name: circuit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: webhook_id
          in: query
          description: Filter by specific webhook
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Filter by delivery status
          schema:
            type: string
            enum: [pending, success, failed, retrying]
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            default: 50
            maximum: 500
      responses:
        '200':
          description: Delivery history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'
                  total:
                    type: integer

  # ============================================================================
  # Item Endpoints
  # ============================================================================

  /items/local:
    post:
      tags:
        - Items
      summary: Create local item
      description: |
        Create a local item with a LID (Local ID).
        Item remains workspace-private until pushed to a circuit.
      operationId: createLocalItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLocalItemRequest'
      responses:
        '201':
          description: Local item created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      local_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: "local_only"

  /items/mapping/{local_id}:
    get:
      tags:
        - Items
      summary: Get LID-DFID mapping
      description: Query the tokenization status and DFID for a local item
      operationId: getItemMapping
      parameters:
        - name: local_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Mapping found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      local_id:
                        type: string
                        format: uuid
                      dfid:
                        type: string
                        nullable: true
                      status:
                        type: string
                        enum: [local_only, tokenized, pending_approval]

  /items/{dfid}:
    get:
      tags:
        - Items
      summary: Get item by DFID
      description: Retrieve complete item information by DFID
      operationId: getItem
      parameters:
        - name: dfid
          in: path
          required: true
          schema:
            type: string
            pattern: '^DFID-\d{8}-\d{6}-[A-Z0-9]{4}$'
            example: "DFID-20240115-000001-A1B2"
      responses:
        '200':
          description: Item details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Item'

  /items/{dfid}/storage-history:
    get:
      tags:
        - Storage History
      summary: Get item storage history
      description: Retrieve all storage locations for an item across circuits
      operationId: getStorageHistory
      parameters:
        - name: dfid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Storage history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StorageLocation'

  # ============================================================================
  # Timeline Endpoints (IPCM CID Timeline)
  # ============================================================================

  /items/{dfid}/timeline:
    get:
      tags:
        - Timeline
      summary: Get item CID timeline
      description: |
        Retrieve the complete chronological timeline of IPFS CIDs for an item.
        Timeline is populated by the blockchain event listener from IPCM contract events.
      operationId: getItemTimeline
      parameters:
        - name: dfid
          in: path
          required: true
          schema:
            type: string
          description: DFID of the item
      responses:
        '200':
          description: Item timeline retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - dfid
                  - total_entries
                  - timeline
                properties:
                  dfid:
                    type: string
                    example: "DFID-20250101-000001-ABC123"
                  total_entries:
                    type: integer
                    example: 5
                  timeline:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimelineEntry'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /items/{dfid}/timeline/{sequence}:
    get:
      tags:
        - Timeline
      summary: Get specific timeline entry
      description: Retrieve a specific timeline entry by sequence number
      operationId: getTimelineEntry
      parameters:
        - name: dfid
          in: path
          required: true
          schema:
            type: string
          description: DFID of the item
        - name: sequence
          in: path
          required: true
          schema:
            type: integer
          description: Sequence number (1, 2, 3, ...)
      responses:
        '200':
          description: Timeline entry retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineEntry'
        '404':
          description: Timeline entry not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /timeline/indexing-progress/{network}:
    get:
      tags:
        - Timeline
      summary: Get blockchain indexing progress
      description: |
        Get the blockchain event indexing progress for a network.
        Shows how far the event listener has synced.
      operationId: getIndexingProgress
      parameters:
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - stellar-testnet
              - stellar-mainnet
          description: Blockchain network
      responses:
        '200':
          description: Indexing progress retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexingProgress'
        '400':
          description: Invalid network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No indexing progress found (event listener not running)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================================
  # Workspace Endpoints
  # ============================================================================

  /workspaces:
    get:
      tags:
        - Workspaces
      summary: List workspaces
      description: Get all workspaces accessible to the authenticated user
      operationId: listWorkspaces
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'

    post:
      tags:
        - Workspaces
      summary: Create workspace
      description: Create a new workspace
      operationId: createWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  workspace_id:
                    type: string
                    format: uuid

  /workspaces/{workspace_id}:
    get:
      tags:
        - Workspaces
      summary: Get workspace details
      description: Retrieve workspace information
      operationId: getWorkspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Workspace'

  # ============================================================================
  # API Key Endpoints
  # ============================================================================

  /api-keys:
    get:
      tags:
        - API Keys
      summary: List API keys
      description: Get all API keys for the authenticated user
      operationId: listApiKeys
      responses:
        '200':
          description: Array of API keys for the current user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyListItem'

    post:
      tags:
        - API Keys
      summary: Create API key
      description: |
        Create a new API key. The full key is only shown once in the response.
        Key format: dfm_{32-character-random-string}
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '200':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    description: Full API key (only shown once!)
                    example: "dfm_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
                  metadata:
                    $ref: '#/components/schemas/ApiKeyMetadata'
                  warning:
                    type: string
                    description: Reminder to store the key securely

  /api-keys/{key_id}:
    delete:
      tags:
        - API Keys
      summary: Delete API key
      description: Permanently delete an API key
      operationId: deleteApiKey
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: API key deleted successfully

  # ============================================================================
  # Event & Activity Endpoints
  # ============================================================================

  /events:
    get:
      tags:
        - Events
      summary: List events
      description: Get event history with optional filters
      operationId: listEvents
      parameters:
        - name: dfid
          in: query
          description: Filter by DFID
          schema:
            type: string
        - name: event_type
          in: query
          description: Filter by event type
          schema:
            type: string
        - name: from_time
          in: query
          description: Start timestamp (Unix epoch)
          schema:
            type: integer
            format: int64
        - name: to_time
          in: query
          description: End timestamp (Unix epoch)
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'

  /events/local:
    post:
      tags:
        - Events
      summary: Create local event
      description: |
        Create a local event that is not yet associated with a DFID.
        Local events can be pushed to a circuit later to associate them with items.
        Supports both JWT and API key authentication.
      operationId: createLocalEvent
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_type
                - visibility
              properties:
                event_type:
                  type: string
                  description: Type of event
                  enum: [Created, Enriched, Transferred, Merged, Split, Circuit, Published, Verified, Custom]
                  example: Created
                visibility:
                  type: string
                  description: Event visibility
                  enum: [Public, Private, CircuitOnly]
                  example: Public
                metadata:
                  type: object
                  additionalProperties: true
                  description: Additional metadata for the event
                  example:
                    action: initial_registration
                    location: Farm A
      responses:
        '200':
          description: Local event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalEventResponse'
        '401':
          description: Authentication required
        '400':
          description: Invalid event type or visibility

  /events/local/{local_event_id}:
    get:
      tags:
        - Events
      summary: Get local event
      description: Retrieve a local event by its local_event_id
      operationId: getLocalEvent
      parameters:
        - name: local_event_id
          in: path
          required: true
          description: The local event UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Local event found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalEventResponse'
        '404':
          description: Local event not found
        '400':
          description: Invalid local_event_id format

  /activities:
    get:
      tags:
        - Activities
      summary: List activities
      description: Get activity log for audit trail
      operationId: listActivities
      parameters:
        - name: user_id
          in: query
          description: Filter by user
          schema:
            type: string
            format: uuid
        - name: resource_type
          in: query
          description: Filter by resource type
          schema:
            type: string
            enum: [Circuit, Item, Workspace, ApiKey]
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            default: 50
            maximum: 1000
      responses:
        '200':
          description: List of activities
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  activities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'

  # ============================================================================
  # Admin Endpoints
  # ============================================================================

  /admin/users/{user_id}/tier:
    put:
      tags:
        - Admin
      summary: Update user tier
      description: Update user tier level (admin only)
      operationId: updateUserTier
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tier
              properties:
                tier:
                  $ref: '#/components/schemas/UserTier'
      responses:
        '200':
          description: Tier updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ============================================================================
  # Receipt Endpoints
  # ============================================================================

  /receipts:
    post:
      tags:
        - Receipts
      summary: Create receipt
      description: Process data and create a cryptographic receipt with BLAKE3 hash
      operationId: createReceipt
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReceiptRequest'
      responses:
        '200':
          description: Receipt created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptResponse'
        '400':
          description: Invalid request (missing identifiers or invalid data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /receipts/{id}:
    get:
      tags:
        - Receipts
      summary: Get receipt by ID
      description: Retrieve a receipt by its UUID
      operationId: getReceipt
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Receipt found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptResponse'
        '404':
          description: Receipt not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /receipts/{id}/verify:
    post:
      tags:
        - Receipts
      summary: Verify data against receipt
      description: Verify that provided data matches the hash in the receipt
      operationId: verifyReceipt
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: string
                  format: byte
                  description: Base64 encoded data to verify
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
        '404':
          description: Receipt not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /receipts/search/identifier:
    post:
      tags:
        - Receipts
      summary: Search receipts by identifier
      description: Find all receipts containing a specific key-value identifier
      operationId: searchByIdentifier
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Identifier'
      responses:
        '200':
          description: List of matching receipts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReceiptResponse'

  /receipts/search/key/{key}:
    get:
      tags:
[...]
